{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="=IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Budget App</title>

		{% bootstrap_css %}
		{% bootstrap_javascript %}
	</head>

	</head>
	<body>
		<!-- Static navbar-->
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
	
				<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				</button>
				<a class="navbar-brand" href="{% url 'budget_app:index' %}">Budget App</a>
				</div>
	
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'budget_app:transactions' %}">Transactions</a></li>
					</ul>
				</div><!--/.nav-collapse-->
			</div>
		</nav>

    <div class="container">
	
      <div class="page-header">
        {% block header %}{% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div>
    </body>
  </html>