{% extends 'budget_app/base.html' %}

{% block header %}
	<h2>{{ transaction }}</h2>
{% endblock header %}

{% block content %}

	<p>
		<a href="{% url 'budget_app:new_entry' transaction.id %}">add new entry</a>
	</p>
	
<div class="row">
		<div class="row">
				<div class="col-md-12">
						<table class="table table-striped"
								<thead>
								<tr>
										<th>Merchant</th>
										<th>Description</th>
										<th>Transaction Amount</th>
										<th>Date Added</th>
								</tr>
								</thead>	
							 <tbody>
									{% for entry in entries %}
									<tr>
											<td>{{ entry.merchant }}</td> 
											<td>{{ entry.description }}</td>
											<td>{{ entry.transaction_amount }}</td>
											<td>{{ entry.date_added }}</td>
									</tr>
									{% endfor %}
									</tbody>
							 </table>
				</div>
			</div>
</div>

{% endblock content %}