jupyter  
pandas 
tensorflow 
Requests 
watermark 
xlrd 
cufflinks 
plotly 
black 
plotnine 
tabulate 
statsmodels 
scipy 
autopep8 
bamboolib 
virtualenv 
pydotplus 
sklearn 
graphviz 
pandas_datareader 
chart_studio 
pandas_bokeh 
pylint 
spellchecker
geopandas