jupyter  
pandas 
tensorflow 
Requests 
watermark 
xlrd 
cufflinks 
plotly 
black 
plotnine 
tabulate 
statsmodels 
scipy 
autopep8 
bamboolib 
virtualenv 
pydotplus 
sklearn 
graphviz 
pandas_datareader 
chart_studio 
pandas_bokeh 
pylint 
spellchecker
GDAL-3.1.4-cp37-cp37m-win_amd64.whl
Fiona-1.8.17-cp37-cp37m-win_amd64.whl
geopandas 