wheel
pylint
black
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
pandas
sklearn
matplotlib
seaborn
plotly
https://download.lfd.uci.edu/pythonlibs/z4tqcw5k/GDAL-3.1.4-cp38-cp38-win_amd64.whl
https://download.lfd.uci.edu/pythonlibs/z4tqcw5k/Fiona-1.8.18-cp38-cp38-win_amd64.whl
geopandas